{
    "cidr": "{{ encry_domain.json[0] }}",
    "network_address":  "{{ encry_domain.json[0] | ipaddr('network') }}",
    "prefix_length": {{ encry_domain.json[0] | ipaddr('prefix')}},
    "attributes": {'service_key': '{{skey}}'},
    "state": "allocated",
    "site_id": {{ site_id }}
}
